{
  "env": {
    "node": true,
    "browser": true,
    "mocha": true,
    "commonjs": true
  },
  "extends": "eslint:recommended",
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  }
}
