name: build
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          cache: npm
          node-version-file: .nvmrc

      - name: Install dependencies
        run: npm ci --prefer-offline

      - name: Run ESLint
        run: npm run lint

      - name: Type check
        run: npm run lint:dts

      - name: Run unit tests
        run: npm run test:ci

      - name: Codecov
        uses: codecov/codecov-action@v3

      - name: Run module tests
        run: npm run test:esm

      - name: Run integration tests
        run: npm run test:integration

      - name: Run benchmark
        run: npm run benchmark
